.contactBlock {
    display: flex;
    align-items: center;
    border: 1px solid white;
    border-radius: 20px;
    height: 100px;
}


.deleteButton{
    width: 100px;
    height: 50px;
    margin: 20px 20px;

}