.icon {
    width: 15px;
    height: 15px;
    margin-right: 8px;
}

.container {
    display: flex;
    flex-direction: column;
}

.btn {
    height: 32px;
    padding: 4px 8px;
    border: none;
    border-radius: 4px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 4px;
    box-shadow: -10px 8px 6px -3px rgba(0, 0, 0, 0.1);

}

.maincontainer {
    border: 1px solid black;
    display: flex;
    width: 260px;
    justify-content: space-between;
    align-items: center;
    padding: 4px;
    gap: 4px;
}
