/* src/index.css */

body {
  font-family: sans-serif;
  line-height: 1.5;
  background-color: rgb(10, 86, 116);
  padding: 100px;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}


li {
  list-style-type: none;
}

ul,
ol {
  margin: 0;
  padding: 0;
}

img {
  display: block;
  max-width: 100%;
}